
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .special {
    background-color: lavender;
    border: dotted 10px red;
    color: pink;
    font-weight: bold;
}

.unique{
  background-color: #8673A1;
  border: dashed 10px #57A639;
  color: white;
}

.groove {
  background-color: #c459d3;
  color: #fcfc7d;
  border: groove 15px #be430f;
}